body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: grid;
	flex-direction: column;
	text-align: center;
	background-color: #f2f2f2;
}

/***********************************************************/
/********************HEADER*********************************/
/***********************************************************/
.navigation {
	margin: 3px;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	border-radius: 8px;
	background: rgba(64, 0, 128, 0.3);

	border: 3px solid rgba(64, 0, 128, 0.5);
	list-style: none;
	padding:0px;
}

.navigation li {
	text-decoration: none;
	display: block;
	padding: 1em;
	color: black;
	cursor: pointer;
}

.navigation li:hover {
	background: #1565C0;
	transition: 0.3s
}

.first {
	margin-right: auto;
	gap: 0;
}

.navigation > .first:hover{
	border-radius: 5px 0 0 5px;
}

.navigation > .last:hover{
	border-radius: 0 5px 5px 0;
}

/***********************************************************/
/********************PERFIL*********************************/
/***********************************************************/
.info-perfil {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-row-gap: 2em;
	justify-items: center;
	text-align: center;
	grid-template-areas: 
	". nom nom ."
	"t1 t2 t3 t4"
	"email org puesto tel"
}

.nom {
	grid-area: nom;
}

.email {
	grid-area: email;
}

.organizacion {
	grid-area: org;
}

.tel {
	grid-area: tel;
}

.puesto {
	grid-area: puesto;
}

.tel {
	grid-area: tel;
}
/***********************************************************/
/********************MUEBLES********************************/
/***********************************************************/
.info-mueble {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	justify-items: center;
	text-align: center;
	grid-template-areas: 
	". nom nom ."
	". cant cant ."
	". foto foto ."
	". left right ."
	". modify delete ."
	". book book ."
	"t1 t2 t3 t4"
	"cont1 cont2 cont3 cont4";
}

.cant {
	grid-area: cant;
}

.nom {
	grid-area: nom;
}

.desc {
	grid-area: cont1;
}
.ubi {
	grid-area: cont2;
}
.ofer {
	grid-area: cont3;
}
.org {
	grid-area: cont4;
}
.button {
	cursor: pointer;
	border: none;
	text-align: center;
	font-size: 28px;
	border-radius: 10px;
	margin: 0.5em;
}

.foto {
	height: 30em;
	width: auto;
	max-width: 100em;
}
.button:hover {
	filter: brightness(85%);
}
.button:focus {
	filter: brightness(90%);
}
.modify {
	height: 3em;
	width: 90%;
	grid-area: modify;
	background-color: #F7C566;
}

.delete-form{
	grid-area: delete;
	position: relative;
	width: 100%;
}

#confirm {
	position: absolute;
	width: 100%;
	display: flex;
	flex-direction: row;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.cancelar {
	height: 3em;
	width: 90%;
	background-color: #56bf52;
	color: white;
}
.confirmar {
	height: 3em;
	width: 90%;
	background-color: #e72929;
	color: white;
}
.delete {
	height: 3em;
	width: 90%;
	background-color: #e72929;
	color: white;
}

.book-info {
	width: 100%;
	grid-area: book;
	font-size: 1.3em;
}
.book {
	height: 3em;
	width: 90%;
	background-color: #074173;
	color: white;
}

.circle {
	margin: 1em;
	border-radius: 60%;
	background-color: #ccc;
}

.arrow {
	width: 0.5em;
	height: 0.5em;
	margin: 2em;
	border: solid black;
	border-width: 0 5px 5px 0;
	display: inline-block;
	padding: 0.5em;
	transform: translate(-8%, -8%);
}

.circle:hover > .arrow {
	margin: 1.8em;
	border: solid #e74c3c;
	border-width: 0 6px 6px 0;
	padding: 0.67em;
	transform: translate(-10%, -10%);
}

.left {
	align-self: center;
	justify-self: end;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	grid-area: left;
}
.right {
	justify-self: start;
	align-self: center;
	grid-area: right;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

t1 {
	font-size: 24px; /* Example font size */
	font-weight: bold; /* Example font weight */
	grid-area: t1;
}
t2 {
	font-size: 24px; /* Example font size */
	font-weight: bold; /* Example font weight */
	grid-area: t2;
}
t3 {
	font-size: 24px; /* Example font size */
	font-weight: bold; /* Example font weight */
	grid-area: t3;
}
t4 {
	font-size: 24px; /* Example font size */
	font-weight: bold; /* Example font weight */
	grid-area: t4;
}
.span-wrapper {
	grid-area: foto;
	opacity: 0;
	z-index: -1;
}
.span-wrapper:hover {
	cursor: zoom-in;
}
.alert {
	padding: 20px;
	background-color: #f44336;
	color: white;
	opacity: 1;
	transition: opacity 0.6s;
	margin-bottom: 15px;
}
/***********************************************************/
/*******************POPUPS**********************************/ 
/***********************************************************/ 
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* The actual popup */
.popup .popuptext {
	font-size:0.25em;
	visibility: hidden;
	width: 250px;
	margin-left: -125px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 75%;
	left: 50%;
}
/* Popup arrow */
.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 0.3s;
	animation: fadeIn 0.3s;
}
.popup .hide {
	-webkit-animation: fadeOut 0.3s;
	animation: fadeOut 0.3s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {opacity: 0;visibility:hidden} 
	to {opacity: 1;visibility:visible}
}

@keyframes fadeIn {
	from {opacity: 0;visibility:hidden}
	to {opacity:1 ;visibility:visible}
}
/* Add animation (fade out the popup) */
@-webkit-keyframes fadeOut {
	from {opacity: 1;visibility:visible} 
	to {opacity: 0;visibility:hidden}
}

@keyframes fadeOut {
	from {opacity: 1;visibility:visible}
	to {opacity: 0;visibility:hidden}
}
/***********************************************************/
/*******************EDITAR MUEBLES**************************/
/***********************************************************/
.subgrid {
	display: grid;
    grid-template-columns: 85% 10%;
	text-align: center;
	gap:2%;
}

.subgrid-item {
    display: flex;
    flex-direction: column;
}

#foto {
	display: none;
	cursor: default;
}

.aniadir {
	cursor: pointer;
	font-size: 4em;
}

.image {
	height: 10em;
	max-width: 16em;
	cursor: default;
	object-fit: cover;
	padding: 2px;
}

.image:hover ~ .cross-overlay{
	opacity: 1;
}

.div-img {
	position: relative;	
}
.cross-overlay {
	text-align: center;
	opacity: 0;
	position: absolute;
	width:16px;
	height:16px;
	top: 20px;
	right: 20px;
	color: white;
	background-color: black;
	padding: 5px;
	cursor: pointer;
	border-radius: 50%;
	z-index: 2;
}
.cross-overlay:hover {
	opacity: 1;
	background-color: red;
}

.preview {
	min-height: 6em;
	border: 4px dotted #999;
	margin:2px;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.alert.success {background-color: #04AA6D}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}

.addMueble{
	width: 60%;
    grid-template-columns: 1fr;
	justify-self:center;
	background-color: #fff;
	padding: 2%;
	margin:2em;
	border-radius: 8px;
	display:grid;
	gap: 1em;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.addMueble > input, .subgrid-item > input{
	height: 2em;
	font-size: 1.50em;
	margin: 0.2em;
	border: none;
	border-bottom: 2px solid #00308F;
}

.intInput {
	text-align: center;
}

.publicar{
	border-radius: 4px;
	background-color: #00308F;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	justify-self: center;
	padding: 20px;
	width: 10em;
	margin: 5px;
}

/***********************************************************/
/********************LOG IN*********************************/
/***********************************************************/
.login {
	width: 20em;
	justify-self:center;
	background-color: #fff;
	padding: 2%;
	margin:2em;
	border-radius: 8px;
	display:grid;
	gap: 1em;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login  button{
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	justify-self: center;
	padding: 20px;
	width: 10em;
	margin: 5px;
}

.login > input{
	height: 3em;
	border: none;
	border-bottom: 2px solid #f4511e;
}

/***********************************************************/
/********************PÃGINA EXPOSITOR***********************/
/***********************************************************/
.muebles-table {
	width: 97%;
	margin: 1.5%;
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
	justify-self: self-end;
	background: rgba(0, 128, 0, 0.3);
	box-shadow: 2px 3px 0px 1px rgba(0, 0, 0, 0.4);
	border-radius: 1em;
	row-gap: 2%;
}

.mueble-container {
	width: 15em;
	background-color: #fff;
	padding: 0% 2% 2% 2%;
	margin:2em;
	border-radius: 8px;
	display:flex;

	flex-direction: column;
	justify-content: flex-start;
	text-align: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-wrap: wrap;
	flex-grow: 0;
	cursor: pointer;
}

.mueble-container:hover {
	filter: brightness(75%);
	transition: 0.25s
}

.mueble-container:active{
	filter: brightness(85%);
	transition: 0s
}

.mueble-container > img{
	height: 15em; 
	width: 100%; 
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 2px 3px 0px 1px rgba(0, 0, 0, 0.4);
}

