{% extends 'index.html' %}

{% block pages %}
<li onclick='location.href="/";'>Catálogo</a></li>
<li onclick='location.href="/perfil";'>Perfil</a></li>
{% endblock %}

{% block content %}
<form action="modify" method="post" text-align="center" class="addMueble" enctype='multipart/form-data'>
	{% csrf_token %}
	<label for="nombre"><b>Nombre:</b></label>
	<input type="text" value="{{ mueble.nombre }}" name="nombre" required>
	
	<label for="foto"><b>Fotos:</b></label>
	<input type="file" placeholder="Foto" name="fotos" required multiple>

	<label for="dim"><b>Dimensiones:</b></label>
	<input type="text" value="{{ mueble.dimensiones }}" name="dim" required>

	<label for="desc"><b>Breve descripción:</b></label>
	<input type="text" value="{{ mueble.descripcion }}" name="desc" required>

	<label for="ubiI"><b>Ubicación:</b></label>
	<input type="text" value="{{ mueble.ubiInicial }}" name="ubiI" required>

	<button type="submit">Publicar</button>
</form>
{% endblock %}
