{% extends 'index.html' %}


{% block pages %}
{% if mueble %}
<li class="first" onclick='location.href="/{{URL}}";'>Catálogo</a></li>
{% endif %}
{% if user.is_staff or user.is_superuser %}
<li onclick='location.href="/{{URL}}add";'>Añadir mueble</a></li>
{% endif %}
<li onclick='location.href="/{{URL}}perfil";'>Perfil</a></li>
{% endblock %}

{% block content %}
{% if not mueble %}
<div class="layout-catalog">
	<div class="categorias">
		<h2>Categorías</h2>

		<form id="checkForm" class="checkForm">
			{% for categoria in categorias %}
			<div class="categoria">

				<label class="textCat">
					{% if categoria.text in selected %}
					<input type="checkbox" name="checks" value="{{ categoria.text }}" checked onchange="sendCheckForm()"> {{ categoria.text }}
					{% else %}
					<input type="checkbox" name="checks" value="{{ categoria.text }}" onchange="sendCheckForm()"> {{ categoria.text }}
					{% endif %}
				</label>

				<p class="numCat">{{ categoria.num }}</p>
			</div>
			{% endfor %}

		</form>

	</div>
	{% if listaMuebles %}
	<div class="muebles">
		<h1>Catalogo</h1>
		<div class="muebles-table">
			{% for mueble in listaMuebles %}
			<div onclick='location.href="/{{URL}}{{mueble.id}}/post";' class="mueble-container">
				<h2>{{ mueble.nombre }}</h2>
				<br>
				{% load static %}
				<img src="{{ mueble.main_image.url }}" alt="Imágen mueble con id {{mueble.id}}">
				<h3>Ubicación:</h3>
				<p>{{ mueble.ubiInicial }}</p>
			</div>
			{% endfor %}

		</div>
		{% elif not mueble %}
		<div class="muebles-table">
			<p>No muebles are available</p>
		</div>
		{% endif %}
	</div>
</div>

{% elif mueble %}
<div class="info-mueble">
	<h1 class="nom">{{ mueble.nombre }}</h1>
	<div class="cant">
		<h2 class="cant">Restantes: </h2>
		<p>{{ restantes }}</p>
	</div>
	<div class="cat">
		<h2>Categoria:</h2>
		<p>{{ mueble.categoria }}</p>
	</div>
	{% for image in images %}
	<img src="{{image.url}}" class="foto zoom" alt="Foto de {{ mueble.nombre }} en {{ mueble.ubiInicial }}">
	{% endfor %}
	<div class="circle right">
		<i class="arrow"></i>
	</div>
	<div class="circle left">
		<i class="arrow"></i>
	</div>
	{% if user.is_superuser or user == ofertante%}
	<form action="delete" class="delete-form" method="post">
		{% csrf_token %}
		<input class="button delete" type="button" value="Borrar" onclick='changeText()'>
		<div id="confirm" style="opacity:0;z-index:-1">
			<input class="button confirmar" type="button" value="Confirmar" onclick='si()'>
			<input class="button cancelar" type="button" value="Cancelar" onclick='no()'>
		</div>
	</form>
	<input class="button modify" type="button" value="Modificar" onclick='location.href="/{{URL}}{{ mueble.id }}/modify";'>
	{% endif %}
	<div class="book-area">
		{% if restantes > 0 and user != ofertante%}
			<form action="book" class="book-info" method="post">
				<input type="number" name="cantRes" class="book-ammount" min=1 max={{restantes}} value=1>
				{% csrf_token %}
				<input class="button book" type="submit" value="Reservar">
			</form>
		{% endif %}
		{% if user != ofertante %}
			{% if reserva != None %}
				<p class="book-info"> Has reservado {{ reserva.cantidad }} de este mueble! </p>
				<form action="unbook" method="post">
					{% csrf_token %}
					<input class = "button unbook" type="submit" value="Liberar reserva">
				</form>
			{% elif restantes == 0%}
				<p class="book-info"> No quedan unidades de este mueble </p>
			{% endif %}
		{% else %}
			{% if reservas == None %}
				<p class="book-info"> <strong>Este mueble no ha sido reservado</strong></p>
			{% else %}
				{% for reserva in reservas %}
					<p class="book-info"> <strong>{{ reserva.demandante.nombre }} {{ reserva.demandante.apellidos }}</strong> 
					con email <strong>{{ reserva.demandante.email }}</strong> ha reservado {{ reserva.cantidad }} de este mueble</p>
				{% endfor %}
			{% endif %}
		{% endif %}
	</div>
	<t1>Descipción:</t1>
	<p class="desc">{{ mueble.descripcion }}</p>
	<t2>Ubicación:</t2>
	<p class="ubi"> {{ mueble.ubiInicial }}</p>
	<t3>Ofertante:</t3>
	<p class="ofer"> {{ ofertante.nombre }} {{ ofertante.apellidos }}</p>
	<t4>Organizacion:</t4>
	<p class="org"> {{ ofertante.organizacion }}</p>
</div>
{% endif %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.min.js"></script>
<script src="{% static 'js/muebles.js'%}"></script>

<script> 
	const checkForm = document.querySelector('#checkForm');

	function sendCheckForm() {
		checkForm.submit();
	}
</script>

<script>
	const elem = document.querySelector('.delete');
	const div = document.querySelector('#confirm');
	const form = document.querySelector('.delete-form');

	function changeText() {
		elem.style.opacity='0';
		elem.style.zIndex='-1';
		div.style.opacity='1';
		div.style.zIndex='1';
	}
	function si(){
		form.submit();
	}
	function no(){
		div.style.opacity='0';
		div.style.zIndex='-1';
		elem.style.opacity='1';
		elem.style.zIndex='1';
	}
</script>
{% endblock %}

{% block logged %}
<li class="last" onclick='location.href="/{{URL}}logout";'>Log out</a></li>
{% endblock %}
