{% extends 'index.html' %}


{% block pages %}
{% if mueble %}
<li onclick='location.href="/";'>Catálogo</a></li>
{% endif %}
{% if user.is_staff or user.is_superuser %}
<li onclick='location.href="/add";'>Añadir mueble</a></li>
{% endif %}
<li onclick='location.href="/perfil";'>Perfil</a></li>
{% endblock %}

{% block content %}
{% if listaMuebles %}
<div class="muebles-table">
	{% for mueble in listaMuebles %}
	<div onclick='location.href="/{{mueble.id}}/post";' class="mueble-container">
		<h2>{{ mueble.nombre }}</h2>
		<br>
		{% load static %}
		<img src="{{ mueble.main_image.url }}" alt="Imagen errónea">
		<h3>Ubicación:</h3>
		<p>{{ mueble.ubiInicial }}</p>
	</div>
	{% endfor %}

</div>
{% elif not mueble %}
<div class="muebles-table">
	<p>No muebles are available</p>
</div>
{% endif %}

{% if mueble %}
<div class="info-mueble">
	<h1 class="nom">{{ mueble.nombre }}</h1>
	{% for image in images %}
	<img src="{{image.url}}" class="foto zoom">
	{% endfor %}
	<div class="circle right">
		<i class="arrow"></i>
	</div>
	<div class="circle left">
		<i class="arrow"></i>
	</div>
	{% if user.is_superuser or user == ofertante%}
	<form action="delete" class="delete-form" method="post">
		{% csrf_token %}
		<input class="button delete" type="button" value="Borrar" onclick='changeText()'>
	</form>
	<input class="button modify" type="button" value="Modificar" onclick='location.href="/{{ mueble.id }}/modify";'>
	{% endif %}
	{% if demandante == None and user != ofertante%}
	<form action="book" class="book-info" method="post">
		{% csrf_token %}
		<input class="button book" type="submit" value="Reservar">
	</form>
	{% elif demandante == user %}
	<p class="book-info"> Has reservado este mueble! </p>
	{% elif user != ofertante %}
	<p class="book-info"> Este mueble ya ha sido reservado </p>
	{% else %}
	{% if demandante == None %}
	<p class="book-info"> <strong>Este mueble no ha sido reservado</strong></p>
	{% else %}
	<p class="book-info"> <strong>{{ demandante.nombre }} {{ demandante.apellidos }}</strong> 
	con email <strong>{{ demandante.email }}</strong> ha reservado este mueble</p>
	{% endif %}
	{% endif %}
	<t1>Descipción:</t1>
	<p class="desc">{{ mueble.descripcion }}</p>
	<t2>Ubicación:</t2>
	<p class="ubi"> {{ mueble.ubiInicial }}</p>
	<t3>Ofertante:</t3>
	<p class="ofer"> {{ ofertante.nombre }} {{ ofertante.apellidos }}</p>
	<t4>Organizacion:</t4>
	<p class="org"> {{ ofertante.organizacion }}</p>
</div>
{% endif %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.min.js"></script>
<script src="{% static 'js/muebles.js'%}"></script>
<script>
	let contBorrado = 0;
	const elem = document.querySelector('.delete');
	const form = document.querySelector('.delete-form');

	function changeText() {
		contBorrado += 1;
		if(contBorrado === 1) {
			elem.value = "¿Seguro?";
		}
		else if(contBorrado === 2) {
			elem.value = "¿Segurísimo?";
		}
		else if(contBorrado === 3) {
			form.submit();
		}
	}
</script>
{% endblock %}

{% block logged %}
<li class="last" onclick='location.href="/logout";'>Log out</a></li>
{% endblock %}
