{% extends 'index.html' %}

{% block pages %}
<li onclick='location.href="/{{URL}}";'>Catálogo</a></li>
{% if user.is_staff or user.is_superuser %}
<li onclick='location.href="/{{URL}}add";'>Añadir mueble</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div class="info-perfil">
	<div class="nom">
		<h1>{{user.nombre}} {{user.apellidos}}</h1>
	</div>
	<t1>Email</t1>
	<div class="email">
		<p>{{user.email}}</p>
	</div>
	<t2>Organizacion</t2>
	<div class="organizacion">
		<p>{{user.organizacion}}</p>
	</div>
	<t3>Puesto</t3>
	<div class="puesto">
		<p>{{user.puesto}}</p>
	</div>
	<t4>Teléfono</t4>
	<div class="tel">
		<p>{{user.telefono}}</p>
	</div>
</div>
{% if listaMuebles %}
<div class="muebles-table">
	{% for mueble in listaMuebles %}
	<div onclick='location.href="/{{URL}}{{mueble.id}}/post";' class="mueble-container">
		<h2>{{ mueble.nombre }}</h2>
		<br>
		{% load static %}
		<img src="{{ mueble.main_image.url }}" alt="Imágen mueble con id {{mueble.id}}">
		<h3>Ubicación:</h3>
		<p>{{ mueble.ubiInicial }}</p>
	</div>
	{% endfor %}
</div>
{% elif not mueble %}
<div class="muebles-table">
	<p>No muebles are available</p>
</div>
{% endif %}
{% endblock %}
{% block logged %}
<li class="last" onclick='location.href="/{{URL}}logout";'>Log out</a></li>
{% endblock %}
