{% extends 'index.html' %}

{% block pages %}
<li onclick='location.href="/";'>Catálogo</a></li>
{% if user.is_staff or user.is_superuser %}
<li onclick='location.href="/add";'>Añadir mueble</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div class="info-perfil">
	<div class="nom">
		<h1>{{user.nombre}} {{user.apellidos}}</h1>
	</div>
	<t1>Email</t1>
	<div class="email">
		<p>{{user.email}}</p>
	</div>
	<t2>Organizacion</t2>
	<div class="organizacion">
		<p>{{user.organizacion}}</p>
	</div>
	<t3>Puesto</t3>
	<div class="puesto">
		<p>{{user.puesto}}</p>
	</div>
	<t4>Teléfono</t4>
	<div class="tel">
		<p>{{user.telefono}}</p>
	</div>
</div>
{% endblock %}

{% block logged %}
<li class="last" onclick='location.href="/logout";'>Log out</a></li>
{% endblock %}
