<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Display Page</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}"/>
	</head>

	<body>
		<ul class="navigation">
			{% block pages %}
			<li onclick='location.href="/";'>Home</a></li>
			<li onclick='location.href="/add";'>Añadir mueble</a></li>
			<li onclick='location.href="/perfil";'>Perfil</a></li>
			{% endblock %}
			{% block logged %}
			<li class="last" onclick='location.href="/logout";'>Log out</a></li>
			{% endblock %}
		</ul>

		{% block content %}

		{% endblock %}

	</body>

</html>
