<!DOCTYPE html>
<html lang="es-es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>App Muebles UGR</title>
		{% load static %}
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
		<link rel="manifest" href="{% static 'resources/site.webmanifest'%}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}"/>
	</head>

	<body>
		<ul class="navigation">
			{% block pages %}
			<li onclick='location.href="/{{URL}}";'>Home</a></li>
			<li onclick='location.href="/{{URL}}add";'>Añadir mueble</a></li>
			<li onclick='location.href="/{{URL}}perfil";'>Perfil</a></li>
			{% endblock %}
			{% block logged %}
			<li class="last" onclick='location.href="/{{URL}}logout";'>Log out</a></li>
			{% endblock %}
		</ul>

		{% block content %}

		{% endblock %}
		<a href="/{{URL}}sitemap.xml">Sitemap</a>
	</body>

</html>
